/* Write your CSS here */
.each-transaction-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid gray;
}
.delete-btn {
  border-width: 0px;
  background-color: transparent;
}
.delete-btn img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 768px) {
  .delete-btn img {
    width: 15px;
    height: 15px;
  }
}
